*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: black;
    color: white;
    width: 10vw;
    height: 100vh;
}
.main{
    /* background-color: yellow; */
    width: 90vw;
    font-style: Namdhinggo;
}
.container{
    display: flex;

}
.sidebar nav{
    padding: 15px;

}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 35px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: white;
}
.maincontainer{
    /* background-color: green; */
    height: 72vh;
    width: 75vw;
    margin: 90px auto;
    display: flex;
    justify-content: space-around;
}
.devpic img{
    width: 600px;
    height: 72vh;

}
.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
    font-size: 80px;
}
.name{
    font-size: 48px;
    font-weight: bold;

}
.about{
    font-size: 36px;
}
.buttons button{
    padding: 9px 11px;
  border-radius: 22px;
  color: white;
  background-color: rgb(40, 40, 248);
  font-weight: bold;
  font-size: 16px;
  margin: 0 4px;
  cursor: pointer;
}
.buttons button:hover{
    background-color: white;
    color: blue;

}
.buttons{
    margin-top: 24px;
}
.moreinfo{
    font-size: 17px;
    margin-top: 15px;
}